@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: black;
    color: #EEE2DE;
}
html{
    font-size: 70%;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
main{
    /* margin-top: 200px; */
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
main h2{
    font-size: 3rem;
    margin-bottom: 4.8rem;
}
.icons{
color: #383838;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid white;
}
nav a{
    font-size: 2rem;
    padding: 3px;
    font-family: 'Ysabeau Infant', sans-serif;
    color: #797878;
    border-bottom: .3rem solid transparent;
    font-weight: bold;
}
nav a:hover{
    color: #c3c3c3;
}
nav a.active{
    color: #EEE2DE;
    border-radius: 5px 5px  0 0;
    border-top: .3rem solid white;
    border-left: .3rem solid white;
    border-right: .3rem solid white;
    translate: 0 1px;

    border-bottom: 0.01rem solid black;
}
form{
    width: 95%;
}
form input{
    border: .1rem solid rgb(67, 67, 67);
    border-radius: .3rem;
    width: 70%;
    margin: 4rem 0;
    user-focus: none;
    padding: .6rem 1rem;
    font-size: 1.6rem;
    letter-spacing: .06rem;
    font-weight: bold;
}
form button{
    width: 20%;
    font-size: 1.1rem;
    padding: 0.8rem 2.8rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    margin-left: 2.4rem;
    cursor: pointer;
    background-color: #858585;
    color: black;
}

label{
   font-size: 1.7rem;
    letter-spacing: 0.06rem;
    color: #EEE2DE;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
}
ul li{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    width: 100%;
    min-height: 6rem;
    border-bottom: .1rem solid #383838;
    border-radius: 0 0 1rem 1rem;
}
ul li:first-child{
    border-top: .1rem solid #383838;
}

ul li:hover{
    background-color: #1c1c1c;
}

ul li input[type="checkbox"]:checked+label{
    text-decoration: line-through;
    color: brown;
}

ul li button{
    padding: 0.6rem 1rem;
    width: 7rem;
    background-color: #910000;
    color: #000000;
    border: none;
    border-radius: 1rem;
    display: inline-block;
    cursor: pointer;
    justify-self: center;
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 1.6rem;
}